*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body, html{
     overflow-x:hidden ;
}



header{
    background-image: url("images/cover.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 100px;
    width:100vw ;
    height: 100vh;
    
}
.logo{
    margin-top: 0;
    left: 0;
}
.info{
    margin-top: -330px;
    margin-left: -100px;
    color: whitesmoke;
    font-size: 32px;
}

    
.header-content{
    text-align: center;
    justify-content: center;
    color: whitesmoke;
    padding-left: 200px;
    padding-bottom: 0px;


}
.header-content h1{
    
    font-size: 7vmin;
    margin-bottom:20px;
}
.header-content h2{
    font-size: 4vmin;
    margin-bottom:10 px;
}
.line{
    width: 150px;
    height: 3px;
    background:#fc83fc;
    margin: 4px auto;
    border-radius: 5px;

}
a{
    text-decoration: none;
    
    
}
a.ctn{
    color:whitesmoke;
    cursor: pointer;
    font-size: 14px;
    
   
}
.ctn{
    border-radius: 50px;
    background: #fc036b;
    padding: 8px 15px;
    margin-top: 10px;
}
.ctn:hover{
    background-color: white;
    color: #fc036b;
    transition: .4s ease ease-in-out;
}
ul{
    list-style: none;
    margin-right: -1000px;
    
}
.navbar{
    position: absolute;
    top: 20px;
    left:580px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    font-size: 12px;
   
}
li{
    margin-right: -200px;
   margin-top: -20px;
  
}
.nav-links{
   
    display: flex;
    margin-right: -20px;
    float: right;
}
     

.nav-links li{
   
    margin-right: 50px;

}
a{
    padding: 5px;
}



ul.nav-links li a{
    color: whitesmoke;
    float: left;
}
li a{
    float: left;
    display: inline;
}
li a:hover{
    cursor:pointer;
    background-color: #fc036b;
    transition: .4s ease;
    border-radius:10px;
  

}
a:active{
    text-decoration: underline;
    text-decoration-color: orange;
    color: orange;
    background-color: transparent;
}
 li a .sign{
    color: orange;
}
section{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  
}  
.aboutus{
text-align: center;
font-size: 4vmin;
color: #49498e;
}
.row{
 align-items: center;
 display: flex;
 margin: 50px;

}
.row .col{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    
}
p{
    color: #2d2d64;
    opacity: 0.8;
    margin-left: 70px;
    text-align: center;

}
.objectives{
    margin-left: 170px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.about.row{
    margin-top: 50px;

}
.about img{
    border-radius: 50px;
    object-fit: contain;
    height: 150px;
}
button{
    background-color: orange;
    color: whitesmoke;
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-top: 7px;
    cursor: pointer;
}
.footer h1{
    margin-left: px;
}
 .footer .row .col{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    width: 1600px;
    height: 120px;
    background-color: #2d2d64;
    object-fit: contain;
    margin-left: -50px;
    margin-bottom: -50px;
 
}
.footer img{
    height: 40px;
    object-fit: contain;
    width: auto;
    display: inline;
    margin-left: 10px;
    align-items: center;
    margin-right: -45px;
    
}
.contact .btn{
    margin-left: 570px;
    background-color:rgb(7, 7, 65);
    margin-bottom: 40px;
}
.contact .btn:hover{
    color:whitesmoke;
    background-color: #fc036b;
    transition: 0.3s ease-in-out;
}

.btn:hover{
    color:orange;
    background-color: whitesmoke;
    transition: .4s ease-in-out;
}


.row .col img{
    width: 300px;
}
.about img{
    transition: transform .4s ease-in-out;
    cursor: pointer;
}
.about img:hover{
    transform: scale(1.1);
}
.footer img{
    cursor: pointer;
}