*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body,html{
    overflow-x: hidden;
}



header{
    background-image: url("images/cover.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    text-align: center;
    width:100vw;
    height: 100vh;
    
}

.header-content{
    text-align: center;
    justify-content: center;
    color: whitesmoke;
    width: 100vw;
    padding-bottom: 0px;


}
.header-content h1{
    
    font-size: 7vmin;
    margin-bottom:20px;
}
.header-content h2{
    font-size: 4vmin;
    margin-bottom:10 px;
}
.line{
    width: 150px;
    height: 3px;
    background:#fc83fc;
    margin: 4px auto;
    border-radius: 5px;

}
.menu{
    position: absolute;
    display: none;
    top: 20px;
    left: 5px;
    margin-right: 10px;
   
}
.menu div{
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 3px;
}
a{
    text-decoration: none;
    
    
}


ul{
    list-style: none;
   
    
}
.navbar{
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0px;
    font-size: 12px;
   
}

.nav-links{
 display: flex;
}
     

.nav-links li{
   
    margin-right: 50px;

}
a{
    padding: 5px;
}



ul.nav-links li a{
    color: whitesmoke;
    float: left;
}
li a{
    float: left;
    display: inline;
}
li a:hover{
    cursor:pointer;
    background-color: #fc036b;
    transition: .4s ease;
    border-radius:10px;
  

}
a:active{
    text-decoration: underline;
    text-decoration-color: orange;
    color: orange;
    background-color: transparent;
}
 li a .sign{
    color: orange;
}
section{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  
}  
.about{
    text-align: center;
    font-size: 4vmin;
    color: #49498e;
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
}
.display{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: space-between;
    
}
.display .row{
 align-items: center;
 display: flex;
 margin: 10px;
 flex-basis: 30%;
 width: 100vw;
 justify-content: center;

}
.display .row .col{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap; 
}
p{
    color: #2d2d64;
    opacity: 0.8;
   
    text-align: center;

}
.objectives{
    margin-left: px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.about.row{
    margin-top: 50px;

}
.about img{
    
    object-fit: cover;
    height: 300px;
    width: 300px;
}
button{
    background-color: orange;
    color: whitesmoke;
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-top: 7px;
    cursor: pointer;
}
.footer h1{
    left: 0;
    margin: 5px;
}
  .footer{
    width: 100vw;
    left: 0;
    background-color: #2d2d64;

}
 .footer .row .col{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px 0px;
    object-fit: contain;
    justify-content: space-evenly;
}
.footer img{
    height: 40px; 
    margin: 5px; 
    vertical-align: top; 
}
.contact{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact .btn{
    display: flex;
    
    justify-content: center;
    background-color:rgb(7, 7, 65);
    margin-bottom: 40px;
    align-items: center;
    text-align: center;
}
.contact .btn:hover{
    color:whitesmoke;
    background-color: #fc036b;
    transition: 0.3s ease-in-out;
}

.btn:hover{
    color:orange;
    background-color: whitesmoke;
    transition: .4s ease-in-out;
}


.display .row .col img{
    width: 250px;
}
.about img{
    transition: transform .4s ease-in-out;
    cursor: pointer;
}
.about img:hover{
    transform: scale(1.1);
}
.footer img{
    cursor: pointer;
}
@media only screen and (max-width:820px) {
    .navbar{
        display: flex;
        top: 0;
        align-items: center;
        justify-content: center;
        left: 0;
        background-color: grey;
        height: 100vh;
        position: absolute;
        margin-top: -900px;
        transition: all .4s ease-in-out;
    }
 .nav-links{
    display: inline-block;
   
    
 }
 .nav-links li a{
    
    padding-bottom: 30px;
    align-items: center;
    font-size: 28px;
 }
 body,html{
    overflow-x: hidden;
 }
 .menu{
    display: block;
    position: absolute;
    z-index: 200001;
 }
 .mobile{
    margin-top: 0px;
    border-bottom-right-radius: 30%;
 }
 a{
    padding: 0;
 }
 li a:hover{
    background-color: grey;
    color: #fc036b;
 }
  a:active{
    text-decoration: none;

 }
 .footer img{
    margin-right: 0;
 }
}
@media  only screen  and (max-width:539px){

    .display{
        display: flex;
        width: 100vw;
        justify-content: space-around;
    }
}
    
